<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
    <link rel="stylesheet" href="../static/css/base.css"></style>
    <link rel="stylesheet" href="../static/css/game.css"></style>
</head>
<body>
    <div class="panel" id="loading-screen">
        <h1>Waiting...</h1>
    </div>

    <div class="panel" id="podium">
        <h1>Leaderboard</h1>
        <div class="circle-container">
            <div class="player">
                <div class="circle">
                <img src="../static/images/duck-pixels.jpg">
                </div>
                <br>
                <div class="label">
                    Label Text 
                </div>
            </div>

            <div class="player">
            <div class="circle">
              <img src="../static/images/duck-pixels-tophat.jpg">
            </div>
            <br>
            <div class="label">
                Label Text 1
              </div>
            </div>

            <div class="player">
                <div class="circle">
                <img src="../static/images/duck-pixels-kirate.jpg">
                </div>
                <br>
                <div class="label">
                    Label 3
                </div>
            </div>
          </div>
          
          
    </div>
        
    <div class="half" id="top">
        <h2>Label for top image</h2>
        <div class="img-container">
        <img id="image-top" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4nTya?ver=0817&q=90&m=6&h=705&w=1253&b=%23FFFFFFFF&f=jpg&o=f&p=140&aim=true" alt="Top Image">
        </div>
    </div>
    
    <div class="half" id="bottom">
        <div class="img-container">
        <img id="image-bottom" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/refurb-macbook-air-space-gray-202002?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1592436927000" alt="Bottom Image">
        </div>
        <h2>Label for bottom image</h2>
    </div>
    </div>

    <div id="water-container">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>

    <script src="../static/scripts/game.js"></script>


    
      
      

</body>
</html>
